<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirecting...</title>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>Redirecting to Office 365 for authenticaion</h1>
        <p>
          Click here if the automatic redirect fails
          <a href="<%= redirectUrl %>">Redirect</a>
        </p>
      </div>
    </main>
  </body>
</html>
